Cython==0.19.1
Django==1.5.4
HTSeq==0.5.4p3
MDP==3.3
Mako==0.7.3
MarkupSafe==0.15
Pmw==1.3.2
PyML==0.7.9
PyYAML==3.10
Pygments==1.6
Pyicos==1.1b
Pyrex==0.9.9
Sumatra==0.5.2
argparse==1.2.1
autowrap==0.2.18
blacktie==0.1.1
brewer2mpl==1.4dev
cutadapt==1.1
distribute==0.7.3
django-tagging==0.3.1
docutils==0.11
drmaa==0.6
editdist==0.3
entropy==0.0.1
hgapi==1.7.2a1
httplib2==0.8
ipython==1.1.0
joblib==0.7.0
msgpack-python==0.1.10
mygene==2.0.1
networkx==1.6
node==0.9.11
nose==1.3.0
numpy==1.7.1
oct2py==0.4.0
odict==1.5.1
omics-pipe==1.0.7
ordereddict==1.1
pandas==0.11.0
plumber==1.2
pp==1.6.4
prettyplotlib==0.1.3
pybedtools==0.6.2
pydot==1.0.28
pyinotify==0.9.4
pymongo==2.3
pyparsing==1.5.7
pysam==0.7.4
ruffus==2.2
scikit-image==0.8.2
scikit-learn==0.14.1
scipy==0.12.0
sh==1.08
simplejson==3.3.1
suds==0.4
tornado==3.0.2
virtualenv==1.10.1
wsgiref==0.1.2
wxPython==2.8.10.1
xlrd==0.8.0
zope.component==4.1.0
zope.deprecation==4.0.2
zope.event==4.0.2
zope.interface==4.0.5
zope.lifecycleevent==4.0.2

